<mat-card class="post-card my-3">
  <div class="post-content">
    <div class="post-image">
      <img class="post-image" mat-card-lg-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" >
    </div>
    <div class="post-details">
      <h2>{{ post.titulo }}</h2>
      <p>{{ post.conteudo }}</p>
    </div>
    <div>
      <button *ngIf="validateAutorPost()" mat-mini-fab color="warn" (click)="excluirPost()">
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  </div>
</mat-card>