.post-card {
    background: transparent;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 16px;
  }
  
  .post-content {
    max-width: 100%;
    word-wrap: break-word;
  }

  .conteudo {
    overflow: hidden;
    word-wrap: break-word;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .post-image {
    margin-right: 16px; 
  }

  .post-details {
    flex: 1; 
  }

  .post-details p {
    margin-top: 16px;
  }