<mat-card class="button-card py-5 px-3">
  <mat-card-content class="button-list">
    <button mat-flat-button routerLink="/novo-post">Novo Post</button>
    <button mat-flat-button routerLink="/meus-posts">Meus Posts</button>
    <button mat-flat-button routerLink="/albuns">Meus Albuns</button>
  </mat-card-content>
</mat-card>
<div class="feed-container">
  <app-page-title pageTitle="Feed Principal"></app-page-title>
    <app-post *ngFor="let post of posts" [post]="post" (postEvent)="receberEvent($event)"></app-post>
  </div>