.full-width {
    width: 100%;
  }

  .registro-card {
    max-width: 1000px; 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .title {
    text-align: center;
    display: inline;
  }

  .registro-button {
    text-align: center;
  }